<a href="https://colab.research.google.com/github/oattao123/class_kmutt/blob/main/Contents.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## list comprehension

In [1]:
fruits = ["apple","banana","cherry","kiwi","mango"]
newlist = []

for x in fruits:
  newlist.append(x.upper())

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [14]:
fruits = ["apple","banana","cherry","kiwi","mango"]
newlist = [i.upper() for i in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [21]:
fruits = ["apple","banana","chherry","kiwi","mango"]

newlist = [i.lower( ) for i in fruits]
print(newlist)

['apple', 'banana', 'chherry', 'kiwi', 'mango']

In [22]:
fruits = ["apple","banana","chherry","kiwi","mango"]
newlist = [i.capitalize() for i in fruits]
print(newlist)

['Apple', 'Banana', 'Chherry', 'Kiwi', 'Mango']

#example

In [54]:
fruits = ["apple","banana","chherry","kiwi","mango"]
newlist = [i[0].upper()+i[1:] for i in fruits]
print(newlist)

['Apple', 'Banana', 'Chherry', 'Kiwi', 'Mango']

In [56]:
fruits = ["apple","banana","chherry","kiwi","mango"]
newlist = [i[0].lower() + i[1:].upper() for i in fruits]
print(newlist)

['aPPLE', 'bANANA', 'cHHERRY', 'kIWI', 'mANGO']

#Call a function

In [26]:
fruits = ["apple","banana","chherry","kiwi","mango"]
fruits3 = fruits * 3

def SequentialUpper(aStringInput,num):
  n = num if num < len(aStringInput) else len(aStringInput) - 1
  return aStringInput[0:n] + aStringInput[n].upper() + aStringInput[n+1:]

newlist = [SequentialUpper(i,j) for j,i in enumerate(fruits3)]
print(newlist)
print(fruits3)
print(fruits)

['Apple', 'bAnana', 'chHerry', 'kiwI', 'mangO', 'applE', 'bananA', 'chherrY', 'kiwI', 'mangO', 'applE', 'bananA', 'chherrY', 'kiwI', 'mangO']
['apple', 'banana', 'chherry', 'kiwi', 'mango', 'apple', 'banana', 'chherry', 'kiwi', 'mango', 'apple', 'banana', 'chherry', 'kiwi', 'mango']
['apple', 'banana', 'chherry', 'kiwi', 'mango']

#Example Ternary Operator

In [28]:
fruits = ["apple","banana","cherry","kiwi","mango"]

newfruits = ["my " + x if x == "banana" else x for x in fruits]
print(fruits)
print(newfruits)

['apple', 'banana', 'chherry', 'kiwi', 'mango']
['apple', 'my banana', 'chherry', 'kiwi', 'mango']

#Set Comprehension

In [59]:
fruits = {"apple" , "banana" , "cherry" , "kiwi" , "mango"}

newfruits = ["I like " + x if x == "apple" else x for x in fruits]
print(fruits)
print(newfruits)

{'kiwi', 'cherry', 'banana', 'mango', 'apple'}
['kiwi', 'cherry', 'banana', 'mango', 'I like apple']

#List from Tuple

In [31]:
fruits = ("apple" , "banana" , "cherry" , "kiwi" , "mango")
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [33]:
fruits = ("apple" , "banana" , "cherry" , "kiwi" , "mango")
newtuple = (x for x in fruits if "a" in x)
print(newtuple)

<generator object <genexpr> at 0x7f8254280ed0>

#List Comprehension with List Constructor

In [34]:
numlist = list(range(20))
print(numlist)

numlist2 = list(2*i for i in range(20))
print(numlist2)

numlist3 = list( i**2 if i%2==0 else i/2 for i in range(20))
print(numlist3)

numlist4 = list( i**2 for i in range(20) if i%2==0)
print(numlist4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]
[0, 0.5, 4, 1.5, 16, 2.5, 36, 3.5, 64, 4.5, 100, 5.5, 144, 6.5, 196, 7.5, 256, 8.5, 324, 9.5]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

#Condition List Comprehension

In [35]:
fruits = ["apple" , "banana" , "cherry" , "kiwi" , "mango"]
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

#Condition not in a list

In [37]:
fruits = ["apple" , "banana" , "cherry" , "kiwi" , "mango"]

newlist = []
for i in fruits:
  if i != "apple":
    newlist.append(i)
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

#Nested Condition

In [38]:
alllist = list(range(20))
print(alllist)

evenlist = [i*2 for i in range(10)]
print(evenlist)
oddlist = [i for i in alllist if i not in evenlist]
print(oddlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#Excercise

In [39]:
numlist = list(range(20))
print(numlist)

numlist1 = list(i for i in range(20) if i%2==0 and i%3==0)
print(numlist1)

numlist3 = list(i for i in range(20) if i%2==0 if i%3==0)
print(numlist2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 6, 12, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

#Dict Comprehension

In [41]:
numlist = list(range(20))
print(numlist)
evenlist = list(i for i in numlist if i%2==0)
print('your even number list',evenlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
your even number list [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

#Dict from two lists

In [44]:
old_price = {'milk' : 1.02, 'coffee' : 2.5, 'bread' : 2.5}

dollar_to_Baht = 38
new_price = {item: value*dollar_to_Baht for (item, value) in old_price.items()}
print(old_price.items())
print(new_price)

dict_items([('milk', 1.02), ('coffee', 2.5), ('bread', 2.5)])
{'milk': 38.76, 'coffee': 95.0, 'bread': 95.0}

#Two lists from a dict

In [45]:
talads = ['milk', 'coffee', 'bread']
prices = [1.02,2.5,2.6]
old_price = {k:v for k,v in zip(talads,prices)}
print(old_price)

{'milk': 1.02, 'coffee': 2.5, 'bread': 2.6}

#Dict with condition

In [46]:
taladdict = {'milk':1.2,'tea':2.4,'bread':3.6}
taladitem = [k for k,v in taladdict.items()]
taladval = [v for k,v in taladdict.items()]
print(taladdict)
print(taladitem)
print(taladval)

{'milk': 1.2, 'tea': 2.4, 'bread': 3.6}
['milk', 'tea', 'bread']
[1.2, 2.4, 3.6]

#Dict with condition

In [47]:
talads = ['milk', 'coffee', 'bread']
prices = [1.02,2.5,2.6]
old_expensive_price = {k:v for k,v in zip(talads,prices) if v>1.5}
old_no_e_price = {k:v for k,v in zip(talads,prices) if not "e" in k}
print(old_expensive_price)
print(old_no_e_price)

{'coffee': 2.5, 'bread': 2.6}
{'milk': 1.02}

#Dict Comprehension

In [48]:
square_dict = {num: num*num for num in range(1,11)}
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

#Dict from constructor

In [49]:
taladdict = {'milk':1.2,'tea':2.5,'bread':3.6}
taladitem = [k for k,v in taladdict.items()]
taladval = [v for k,v in taladdict.items()]
print(taladdict)
print(taladitem)
print(taladval)
taladthaibaht = dict((k,v*3.8) for k,v in zip(taladitem,taladval))
print(taladthaibaht)

{'milk': 1.2, 'tea': 2.5, 'bread': 3.6}
['milk', 'tea', 'bread']
[1.2, 2.5, 3.6]
{'milk': 4.56, 'tea': 9.5, 'bread': 13.68}

return None

In [50]:
fruits = ("apple", "banana" , "cherry" , "kiwi" , "mango")
newtuple = [print(x) for x in fruits if "a" in x]

print(newtuple)

apple
banana
mango
[None, None, None]

In [51]:
fruits = ['oat','oats','oatss']
num = list(range(1,3))
dict_1 = {k:v for k,v in zip(fruits,num)}
print(dict_1)

{'oat': 1, 'oats': 2}

In [52]:
dict_2 = {'oat': 1, 'oats': 2}
list_1 = [k for k,v in dict_2.items()]
list_2 = [v for k,v in dict_2.items()]
print(list_1,list_2)

['oat', 'oats'] [1, 2]