<a href="https://colab.research.google.com/github/12oattao21/class_python/blob/main/function6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

User-defined Function - Parameters & Arguments

In [ ]:
def my_func(dog4, dog3, dog2, dog1):
  print("My favourrite dog is " + dog3)

my_func(dog1 = "Richard", dog2 = "Ellis", dog3 = "Spiky", dog4 = "Timothy")

My favourrite dog is Spiky

In [ ]:
def my_func(**students):
  print("The student last name is " + students["lastName"])
my_func(firstName = "Emily", lastName = "Ross")

The student last name is Ross

In [ ]:
def my_func(country = "Thailand"):
  print("I am from " + country)

my_func("Englang")
my_func()
my_func("Spain")

I am from Englang
I am from Thailand
I am from Spain

In [ ]:
def my_func(food):
  for x in food:
    print(x)
fruits = ["mango", "pineapple", "apple"]

my_func(fruits)

mango
pineapple
apple

In [ ]:
def my_func(x):
  return 2 + x

print(my_func(2))
print(my_func(3))
print(my_func(4))

4
5
6

In [ ]:
f  = lambda x: x + 1
print(f(2))
print(f(8))

g = lambda a,b: (a + b) / 2
print(g(3, 5))
print(g(10, 33))

def make_incrementor(n):
  return lambda x: x + n

f = make_incrementor(13)
print(f(0))
print(f(1))
print(f(5))

3
9
4.0
21.5
13
14
18

User-defined Function

In [ ]:
def add(num1: int,num2: int) -> int:
  """Add two number"""
  num3 = num1 + num2
  return num3

num1, num2 = 5,15
ans = add(num1,num2)
print(f"The addition of {num1} and {num2} results {ans}")
add(5,15)

The addition of 5 and 15 results 20

20

In [ ]:
def number():
  num = 30
  print("Value of num inside the function: ", num)

num = 20
number()
print("Value of num outside the function:", num)

Value of num inside the function:  30
Value of num outside the function: 20

In [ ]:
def square(num):
  return num**2

print("With return statement")
print(square(39))

def square(num):
  num**2

print("Without return statement")
print(square(39))

With return statement
1521
Without return statement
None